body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #ffcccc;
}

/* CSS */
#box {
    width: 300px;
    height: 200px;
    background-color: pink;
    border: 5px solid white;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-top: 10%;
  }
  
  #message {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: black;
  }
  
  #next {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    background-color: red;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  #yes {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    background-color: red;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  #no {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    background-color: red;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
 
